<div class='center'>
    <div class='flex '>
        <div> <%= image_tag @user.photo %> </div>
        <div class='border'>
            <%= @user.name %>
            <div class='bottom_flex'>
                <%= @user.post_counter %>
            </div>
        </div>
            </div>
                    <% @posts.each do |post| %>
 
                       <div class='borBtm'>
                       <div class='border'>
                            <div class='flex column'>
                                <%= "Post: #{post.id}" %>
                                <%=link_to post.title, user_post_path(@user.id, post.id)%>
                            </div>
                            <div>
                                <%= "Comments: #{post.comment_counter}" %>
                            </div>
                            <div>
                                <%= " Likes: #{post.likes_counter}" %>
                            </div>
                        </div>
                        <% if post.five_recent_comments.count.zero? %>
                        <p class='border'> No comments on this post yet <p>
                        <% else %>
                        <div class='border'>
                            <% post.five_recent_comments.each do |post| %>
                                <div>
                                <%= "#{post.author.name}:" %>
                                    <%= post.text %>
                                </div>
                            <% end %>
                            <% end %>
                        </div>
                        <% %>
                        </div>
                    <% end %>
                </div>

    </div>
</div>